[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
expects     = ">=0.8.0"
mock        = ">=2.0.0"
mamba       = "*"
pycodestyle = "==2.4.0"

[packages]
sanic   = "==0.8.3"
aiohttp = "==3.7.4"
pyvmomi = "==6.7.1.2018.12"
pyYaml  = "==5.4"
deepmerge      ="==0.0.4"
psycopg2-binary="==2.7.7"
raven   = "==6.10.0"
uvloop  = "==0.14.0"
requests= ">=2.3.0"
python_ldap    = "==3.3.1"
statsd = "==4.0.1"

[requires]
python_version = "3.6"

