[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

expects     = ">=0.8.0"
mock        = ">=2.0.0"
mamba       = "*"
pycodestyle = "==2.4.0"

[packages]

sanic   = "==0.8.3"
aiohttp = "==3.4.4"
pymongo = "==3.7.1"
pyvmomi = "==6.7.0.2018.9"
pyYaml  = "==3.13"
deepmerge="==0.0.4"

#[requires]

#python_version = ">=3.6"

